@import '_vars';
@import '_reset';
@import '_mixing';
@import '_header';

body {
    font-family: 'Inter', sans-serif;
    background-color: #D9D9D9;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.wrapper {
    height: 100vh;
}

.header {
    background-color: $bg;
    padding: 31px;

    & .logo__link {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
    }
}


.draws {
    padding: 80px 0;

    &__head {
        display: flex;
        flex-direction: column;
        gap: 38px;
    }

    &__inputs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 55px;
    }

    &__input {
        min-width: 1550px;
        resize: vertical;
        background-color: $grey;
        border-radius: 30px;
        padding: 15px 27px 15px 27px;

        &::placeholder {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: rgba(30, 30, 30, 0.5)
        }
    }

    &__btns {
        margin-bottom: 39px;
    }

    &__btn {
        padding: 7px 15px;
        background-color: #fff;
        border-radius: 10px;
        font-weight: 400;
        font-size: 14px;
        color: $black;
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: $black;
        margin-bottom: 42px;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list-firsLap {
        & div {
            margin-bottom: 24px;
        }

        & .draws__item:nth-child(2),
        & .draws__item:nth-child(4),
        & .draws__item:nth-child(6),
        & .draws__item:nth-child(8) {
            position: relative;

            &::before {
                position: absolute;
                content: '';
                top: -100%;
                right: -105px;
                width: 5px;
                height: 80px;
                background-color: $grey;
            }
        }

        & .draws__item:nth-child(1),
        & .draws__item:nth-child(3),
        & .draws__item:nth-child(5),
        & .draws__item:nth-child(7){
            position: relative;

            &::before {
                position: absolute;
                content: '';
                top: 120%;
                right: -205px;
                width: 100px;
                height: 5px;
                background-color: $grey;
            }
        }

    }

    &__list-secondeLap{
        & li + li{
            margin-top: 95px;
        }

        & .draws__item:nth-child(1),
        & .draws__item:nth-child(3){
            position: relative;

            &::before {
                position: absolute;
                content: '';
                bottom: -251%;
                right: -105px;
                width: 5px;
                height: 150px;
                background-color: $grey;
            }
        }
        & .draws__item:nth-child(2),
        & .draws__item:nth-child(4){
            position: relative;

            &::before {
                position: absolute;
                content: '';
                top: -100%;
                right: -205px;
                width: 100px;
                height: 5px;
                background-color: $grey;
            }
        }
    }

    &__list-thirdLap{
        & li + li{
            margin-top: 246px;
        }

        & .draws__item:nth-child(1){
            position: relative;

            &::before {
                position: absolute;
                content: '';
                bottom: -551%;
                right: -105px;
                width: 5px;
                height: 301px;
                background-color: $grey;
            }
        }
        & .draws__item:nth-child(2){
            position: relative;

            &::before {
                position: absolute;
                content: '';
                top: -244%;
                right: -205px;
                width: 100px;
                height: 5px;
                background-color: $grey;
            }
        }
    }

    &__list-fourthLap{
        & .draws__item::after{
            width: 0;
        }
    }

    &__item {
        width: 250px;
        height: 50px;
        padding: 13px 0;
        background-color: #fff;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #1E1E1E;
        position: relative;
        border-radius: 15px;

        &::after {
            position: absolute;
            content: '';
            top: 50%;
            right: -100px;
            width: 100px;
            height: 5px;
            background-color: $grey;

        }
    }


}